feedparser>=6.0.0b1  # rss parsing
requests  # http requests
bs4 # for xml and html
colorama  # colored output https://pypi.org/project/colorama/
jinja2  # for generating html
git+https://github.com/xhtml2pdf/xhtml2pdf.git
ebooklib
lxml