@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Pacifico|Source+Sans+Pro:400,700");

@page {
    margin: 3cm;
    @bottom-left {
        color: #1ee494;
        font-family: Pacifico;
        content: '♥ rss-reader';
        font-size: 6pt;
    }
    @bottom-center {
        color: #333;
        content: "Page " counter(page) " of " counter(pages);
        font-family: Pacifico;
        font-size: 13pt;
    }
    @bottom-right {
        color: #c1a;
        content: 'rss-reader♥ ';
        font-family: Pacifico;
        font-size: 6pt;
    }
}

html {
    color: #14213d;
    font-family: Source Sans Pro;
    font-size: 11pt;
    line-height: 1.6;
}

html body {
    margin: 0;
}

html h1 {
    color: #1ee494;
    font-family: Pacifico;
    font-size: 40pt;
    margin: 0;
}
.wrapper{
    position:relative;
}
.media{
    display:inline-block;
}
img{
    max-width: 14rem !important;
    margin: 0 1rem;
}
.logo{
    text-align:center;
    margin: 3rem auto;
    max-width: 20rem;
}