<!DOCTYPE html>
<html>
<head><title>SPIEGEL ONLINE - International</title></head>
<body>
<center><h1>Title: SPIEGEL ONLINE - International</h1></center>
<p><h2>Link: </h2><a href="https://www.spiegel.de">https://www.spiegel.de</a></p>
<br><hr>
</body>
<center>[1]</center>
<p><h3>Title: AfD Campaign Finance Trouble: A Right-Wing Populist Slush Fund Exposed</h3><h4>Link:</h4><a href="https://www.spiegel.de/international/germany/der-spiegel-exposes-murky-afd-slush-fund-a-1298952.html#ref=rss">https://www.spiegel.de/international/germany/der-spiegel-exposes-murky-afd-slush-fund-a-1298952.html#ref=rss</a><h4>Published: Fri, 29 Nov 2019 19:05:20 +0100</h4></p>
<p>The right-wing populist party Alternative for Germany is already embroiled in a campaign donation scandal. But documents obtained by DER SPIEGEL show that more trouble could be on the horizon due to a murky slush fund used in the party's early days.</p>
<br><br><hr>
</html>
