{% extends 'news/base.html' %}

{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="#">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'news-by-rss' post.rss_hash %}">{{ post.rss_title }}</a>
                    <a class="mr-2" href="{% url 'news-by-date' post.date_id %}">
                        <small class="text-muted">{{ post.pubDate|date:"F j, Y" }}</small>
                    </a>
                </div>
                <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                <img class="article-img text-muted" src="{{ post.imageLink }}" alt="{{ post.imageDescription }}">
                <p class="article-content">{{ post.description }}</p>
                <a class="article-content" href="{{ post.link }}">Original link</a>
            </div>
        </article>
    {% endfor %}

    {% if is_paginated %}
        <!--<div class="pagination">-->
        <center>
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-info mb-4 mr-2" href="?page=1">First</a>
                <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
                <a class="btn btn-info mb-4 mr-2" href="#">{{ page_obj.number }}</a>
            {% if page_obj.has_next %}
                <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a class="btn btn-outline-info mb-4 mr-2" href="?page={{ page_obj.paginator.num_pages  }}">Last</a>
            {% endif %}
        </center>
        <!--</div>-->
    {% endif %}

{% endblock content %}
